body{
    background-image: url("../asset/backgrounds/windows-11-dark-mode-blue-stock-official-3840x2160-5630.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
a{
    color: white;
}