div.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}
div.logos img{
    width: 75px;
    height: auto;
    max-height: 75px;
}
div.logos p{
    margin-top: 10px;
}
a{
    text-decoration: none;
}