body{
    background-color: #e7e7e7;
}
div.left{
    color: #0274dc;
    text-decoration: underline;
}
div.clicked{
    background: linear-gradient(to bottom, #cce6ff 0%, #c3ddff 100%);
    border: 1px solid #9cc8ff;
    color: #000;
    padding: 4px 2px;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #fff;
}
div.notClicked:hover{
    background: linear-gradient(to bottom, #cce6ff 0%, #c3ddff 100%);
    border: 1px solid #9cc8ff;
    color: #000;
    padding: 4px 8px;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #fff;
}
/*algiening items*/
div.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5px auto 15px;
    gap:0;
}
div.divider{
    height: auto;
    min-height: 1000px;
    width: 2px;
    background: linear-gradient(to bottom, #d0d0d0, #a0a0a0);
    box-shadow: inset 0 0 1px #fff;
    margin: 0 10px;
}