.window{
    width: 700px;
    height: 500px;
    background-color: #c0c0c0;
    border: 2px solid #000;
    font-family: 'MS Sans Serif', sans-serif;
    position: relative;
    margin: 20px auto;
    box-shadow: 2px 2px 0 #808080;
}
.title-bar{
    background-color: #000080;
    color: white;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.title-bar .title{
    font-size: 14px;
}
.window-controls button{
    background-color: #c0c0c0;
    border: 2px outset #fff;
    font-size: 12px;
    padding: 2px 6px;
    cursor: pointer;
}
.menu-mar{
    background-color: #e0e0e0;
    padding: 4px 8px;
    display: flex;
    gap: 16px;
    border-bottom: 2px solid #808080;
    font-size: 13px;
}
/*files section*/
.file-body{
    display: flex;
    height: calc(100% - 60px)
}
.sidebar{
    width: 150px;
    background-color: #dcdcdc;
    border-right: 2px solid #808080;
    padding: 8px;
    font-size: 13px;
}
.sidebar p{
    margin: 6px 0;
    cursor: default;
}
.main-plain{
    flex: 1;
    padding: 8px;
     overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-content: flex-start;
}
/*files*/
.files{
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.files img{
    width: 32px;
    height: 32px;
}
.files p {
    margin-top: 4px;
    font-size: 12px;
    word-break: break-word;
}
/*certin items*/
#docs{
    background-color: #000080;
    color: white;
}