body{
    background-image: url("../../asset/logos/window7/d2cdysc-e1e9be31-eeea-4bb5-89a4-7c8eba212ffe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}