html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../asset/logos/xp/xp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-shadow: 1pt 1pt 1pt #000000;
}
a{
    text-decoration: none;
    color: white;
}