html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../asset/backgrounds/windows_8_dev_green_metro_by_dj_corny_d4a2lpe-fullview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Segoe UI", sans-serif;
    color: white;
    overflow: hidden;
}
/*h1 code*/
h1{
    font-size: 80px;
    margin-left: 50px;
    font-family: "Segoe UI Light", "Segoe UI", sans-serif;
    font-weight: 300;
}
/*for the tile system*/
.tile-container{
    display: flex;
    gap: 20px;
    margin: 50px;
    flex-wrap: wrap;
}
.tile{
    width: 150px;
    height: 150px;
    background-color: rgba(48, 44, 43, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
}
.tile:hover{
    transform: scale(1.05);
}
.tile.fill-icon img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     margin: 0;
 }
.tile img{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
.tile p{
    font-size: 14px;
    margin: 0;
}